## Author: Makayla McKibben
### Date: 09/04/2024
### Course: DSC530
### Week 2

**Ex. 2.1a**
<ul>
    <li> Display the text "Hello World! My name is ...."
<ul>

In [31]:
print('"Hello World! My name is ...."')

"Hello World! My name is ...."

**Ex. 2.1b**
<ul>
    <li> Add two numbers together
<ul>

In [4]:
m = 8
n = 8
p = m + n
p

16

**Ex. 2.1c**
<ul>
    <li> Subtract a number from another number
<ul>

In [12]:
q = p - m
q

8

**Ex. 2.1d**
<ul>
    <li> Multiply two numbers
<ul>

In [15]:
r = m * n
r

64

**Ex. 2.1e**
<ul>
    <li> Divide between two numbers
<ul>

In [18]:
s = r / m
s

8.0

**Ex. 2.1f**
<ul>
    <li> Concatenate two strings together (any words)
<ul>

In [25]:
a = 'This is a '
b = 'concatenated string'
c = a + b
c

'This is a concatenated string'

**Ex. 2.1g**
<ul>
    <li> Create a list of 4 items (can be strings, numbers, both)
<ul>

In [110]:
d = [m, n, p, r]  
print(d)

[8, 8, 16, 64]

**Ex. 2.1h**
<ul>
    <li> Append an item to your list (again, can be a string, number)
<ul>

In [112]:
d.append(c)
print(d)

[8, 8, 16, 64, 'This is a concatenated string']

**Ex. 2.1i**
<ul>
    <li> Create a tuple with 4 items (can be strings, numbers, both)
<ul>

In [114]:
e = (m, a, n, b)
print(e)

(8, 'This is a ', 8, 'concatenated string')